<!DOCTYPE html>
<html th:replace="~{layout/app :: layout(~{::title}, ~{::body})}"
	xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<title>Etudiant</title>
</head>

<body>
	<div class="container-fluid">
		<a class="btn btn-outline-primary" th:href="@{/etudiant}">
			<span class="iconify" data-icon="mdi:arrow-left-circle" data-width="24"
				data-heigth="24"></span>
			Liste des étudiants
		</a>

		<div th:if="${message != null || error != null }"
			class="d-flex justify-content-center ">
			<div class="alert alert-dismissible fade show text-center message"
				th:classappend="${error != null} ? 'alert-danger': (${message != null }? 'alert-success')"
				role="alert">
				<span th:text="${message!=null}? ${message} : (${error != null }? ${error})"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>

			</div>
		</div>
		<div class="py-3">
			<div class="card border bg-body-tertiary">
				<div class="card-body">
					<div class="row d-flex">
						<div class="col-6">
							<span class="fs-5">Nom: [[|${etudiant.nom} ${etudiant.prenoms} |]]</span>
						</div>
						<div class="col-6">
							<span class="fs-5">Email: [[${etudiant.email}]]</span>
						</div>
					</div>
					<div class="row d-flex align-items-start">
						<div class="col">
							<span class="fs-5 text-break">
								Encadreur:
								<span
									th:text="${etudiant.encadreur?.email!=null} ? ${etudiant.encadreur?.email}: ' Non assigné '"></span>
							</span>
						</div>

					</div>
					<div class="row d-flex align-items-start">
						<div class="col">
							<span class="fs-5 text-break">Theme: [[${etudiant.stage.theme} ]]</span>
						</div>

					</div>

				</div>
			</div>

		</div>
		<a id="deleteButton" class="btn btn-danger btn-sm"
			th:href="@{/etudiant/delete/{id}(id = ${etudiant.id})}">Supprimer</a>

		<div th:replace="~{fragments/confirm-modal :: confirm-modal}"></div>
	</div>
	<script th:src="@{/js/confirm-modal.js}"></script>
</body>

</html>