<!DOCTYPE html>
<html th:replace="~{layout/app :: layout(~{::title}, ~{::body})}"
	xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
<title>Accueil</title>
</head>
<body>
	<div class="container-fluid py-2">
		<div class="p-5 mb-3 bg-body-tertiary border rounded-3 mx-auto">
			<div class="container-fluid py-5 text-center">
				<h1>Bienvenue sur la plateforme de gestion des mémoires et stages</h1>
				<p class="fs-5">Utilisez les onglets sur votre gauche pour accéder aux différentes
					fonctionnalités de la plateforme.
				</p>
			</div>
		</div>
	</div>

</body>
</html>