<!DOCTYPE html>
<html th:replace="~{layout/app :: layout(~{::title}, ~{::body})}"
	xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Ajout d'un encadreur</title>
</head>
<body>
	<div class="container-fluid">
		<div th:if="${message != null || error != null }"
			class="d-flex justify-content-center ">
			<div class="alert alert-dismissible fade show text-center message"
				th:classappend="${error != null} ? 'alert-danger': (${message != null }? 'alert-success')"
				role="alert">
				<span th:text="${message!=null}? ${message} : (${error != null }? ${error})"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>

			</div>
		</div>
		<div class="d-flex align-items-center justify-content-center">
			<div class="card border rounded-3 shadow-sm mb-4" style="min-width: 50%">
				<div class="card-header">
					<h4 class="px-2 bg-tertiary rounded text-primary">Ajout d'un encadreur</h4>
				</div>
				<div class="card-body">
					<div class="px-2 align-items-center justify-content-center">

						<form th:action="@{/encadreur/save}" method="post"
							th:object="${encadreur}">
							<div>
								<label class="my-1" for="email">Email</label>
								<div>
									<input class="form-control" type="email" th:field="*{email}" />
								</div>
								<small class="text-danger" th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}"></small>
							</div>
							<div>
								<label class="my-1" for="nom">Nom</label>
								<div>
									<input class="form-control" type="text" th:field="*{nom}" />
								</div>
								<small class="text-danger" th:if="${#fields.hasErrors('nom')}"
									th:errors="*{nom}"></small>
							</div>
							<div>
								<label class="my-1" for="prenoms">Prénoms</label>
								<div>
									<input class="form-control" type="text" th:field="*{prenoms}" />
								</div>
								<small class="text-danger" th:if="${#fields.hasErrors('prenoms')}"
									th:errors="*{prenoms}"></small>
							</div>
							<div>
								<label class="my-1" for="grade">Grade</label>
								<div>
									<select class="form-select" th:field="*{grade}">
										<option value="">Sélectionnez le grade</option>
										<option value="DOCTEUR">Docteur</option>
										<option value="MAITRE DE CONFERENCE">Maitre de conférence</option>
										<option value="PROFESSEUR">Professeur</option>
										<option value="PROFESSEUR AGREGE">Professeur agrégé</option>
									</select>
								</div>
								<small class="text-danger" th:if="${#fields.hasErrors('grade')}"
									th:errors="*{grade}"></small>
							</div>
							<div class="my-3">
								<button class="btn btn-primary" type="submit">Enregistrer</button>
								<a class="btn btn-danger" th:href="@{/encadreur}">Annuler</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>